*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    width: 750px;
    height: 750px;
    border: 4px solid black;
    margin: 50px auto;
}

.board{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr;
    gap: 0px;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
}

.red{ 
    border: 50px solid red;
 }
.green{
     border: 50px solid green; 
    }
.blue{ 
    border: 50px solid blue;
 }
.yellow{ 
    border: 50px solid yellow; 
}

.circle{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid black;
}
.center{
    background: rgba(57, 4, 96, 0.473);
    font-size: 16px;
    font-weight: bold;
    font-display: block;
    color: aliceblue;
    line-height:250%;
    text-align:center;
}

.path.vertical{
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr); 
}

.path.horizontal{
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    gap: 2px;
}
.step{
    border: 1px solid black;
    width: 100%;
    height: 100%;
}
.red-path .step{
    background: rgba(255,0,0,0.6); 
}
.blue-path .step{ 
    background: rgba(0,0,255,0.6); 
}
.green-path .step{ 
    background: rgba(0,255,0,0.6); 
}
.yellow-path .step{ 
    background: rgba(255,255,0,0.6); 
}